.seo-button-bet {
    display: block;
    width: 100%;
    text-align: center;
    white-space: normal;
    line-height: 30px !important;
    padding: 12px 18px;
    height: auto !important;
    margin: 25px 0;
}

// RbBet shortcode стили
.rb-bet-shortcode {
    width: auto;
    position: relative;
    margin: 25px 0;

    .link {
        display: flex;
        position: relative;
        width: fit-content;
        cursor: pointer;
        text-decoration: none;
        border-radius: 4px;


        .container {
            position: relative;
            width: 100%;
            border-radius: 4px;

            .title {
                min-height: 20px;
                border-color: rgba(0, 0, 0, 0.08) transparent rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.08);
                border-style: solid;
                border-width: 1px;
                border-image: none 100% / 1 / 0 stretch;
                width: 100%;
                align-items: center;
                padding: 12px 88px 12px 12px;
                background: rgba(0, 0, 0, 0) linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 100%) repeat scroll 0 0;
                border-radius: 4px;

                p {
                    margin: 0;
                    overflow-wrap: break-word;
                }
            }

            .bookmaker {
                position: absolute;
                right: 0;
                width: 80px;
                border-radius: 4px;
                min-height: 100%;
                align-items: center;

                .wrapper {
                    width: 100%;

                    .odds {
                        display: flex;
                        padding-top: 4px;
                        justify-content: center;
                        width: auto;

                        p {
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 20px;
                            color: rgb(255, 255, 255);
                        }
                    }

                    .logo {
                        justify-content: center;
                        align-items: center;
                        height: 24px;
                        width: auto;

                        img {
                            width: 64px;
                            height: auto;
                        }
                    }

                }
            }
        }

        &:hover {
            .title {
                background: transparent;
            }
            * {
                color: rgb(255, 255, 255);
            }
        }

        p {
            color: #212121;
        }
    }

    .note {
        margin-top: 4px;
        width: fit-content;

        a {
            line-height: 20px;
            font-size: 12px;
            p {
                font-size: 12px;
                line-height: 1.3;
                overflow-wrap: break-word;
            }
        }
    }
}

@media screen and (max-width: 599px) {
    .rb-bet-shortcode {
        width: 100%;
        max-width: 100%;
        .link {
            width: 100%;
        }
    }
}
